In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib.ticker import MultipleLocator
from scipy.stats import chi2_contingency

In [6]:
df_width= '120px'
observations_path = {'observations' : 'observations.csv'}
species_path = {'species' : 'species_info.csv'}

In [7]:
species_df= pd.read_csv(species_path['species'])
species_df.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [10]:
obs_df= pd.read_csv(observations_path['observations'])
obs_df.park_name= obs_df.park_name.str.replace('national park', '', case=False)
obs_df.head()

            scientific_name               park_name  observations
0        Vicia benghalensis  Great Smoky Mountains             68
1            Neovison vison  Great Smoky Mountains             77
2         Prunus subcordata               Yosemite            138
3      Abutilon theophrasti                  Bryce             84
4  Githopsis specularioides  Great Smoky Mountains             85

In [12]:
display(pd.DataFrame({'conservation status': species_df.conservation_status.unique()}))

  conservation status
0                 NaN
1  Species of Concern
2          Endangered
3          Threatened
4         In Recovery

In [13]:
species_df.conservation_status[species_df.conservation_status.isna()] = 'Low Risk'